<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path, class: "btn btn-outline-primary"%>
    <% @posts.each do |post| %>
    <div class="center-align">
      <h1 style="color: <%= post.color.code%>"> <%= post.title %> </h1>
    </div>
    <div class="image, max-dimension center-align">
      <%= image_tag(url_for post.photo) %>
    </div>
        <%= link_to 'Show', post, class: "btn btn-outline-primary" %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      <hr>
      <hr>
    <% end %>

<br>
