<p id="notice"></p>
<p>
	<div class="center-align">
		<h1 style="color: <%= @post.color.code%>"> <%= @post.title %> </h1>
	</div>
	<div class="detect_palindrome center-align" > <h2><%= @palindrome%></h2>
	</div>
</p>

<p>
	<div class="image, max-dimension center-align">
		<%= image_tag(url_for @post.photo) %>
	</div>
</p>
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-outline-primary" %>
<%= link_to 'Back', posts_path, class: "btn btn-outline-primary" %>
